.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
  border-style: groove; 
  border-width:10px;
  background-color:white;
  border-color:greenyellow;
  
}

